.mainContainer {
  background-image: url(../Img/omegaBg.png), url(../Img/Maskgroup.png);
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 360px;
  background-position: 0%, center 10%;
  display: flex;
  flex-direction: column;
}

.btnPar {
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.box-type {
  text-align: center;
  align-items: center;
  width: 30%;
  height: 59px;
  background: #fdfafa;
  box-shadow: -9px 9px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8.96202px;
  color: #f45725;
  cursor: pointer;
  margin-bottom: 74px;
  border-width: 0px;
  padding: 5px;
}

.reg {

  color: #f45725;
  background-color: #ffff;
  font-family: "Rubik", sans-serif;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  padding: 0px 0px 0px 0px;
}

.cardEvent {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  background-color: transparent;
  margin-bottom: 100px;
}

#Event {
  width: 278px;
  background-color: #fdfafa;
  box-sizing: border-box;
  background: rgba(35, 35, 35, 0.2);
  border: 1px solid #683423;
  box-shadow: -1px 2px 23px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(36px);
  border-radius: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#Event.pitcher,
#Event.connected,
#Event.stank,
#Event.esports,
#Event.talk {
  background-repeat: no-repeat;
  background-position: center 10%;
}

#Event.pitcher {
  background-image: url(../Img/Frame151.png);
  background-size: 121px, 30px;
}

#Event.stank {
  background-image: url(../Img/Group6.png);
  background-size: 105px, 56px;
}

#Event.esports {
  background-image: url(../Img/Esportslogo.png);
  background-size: 116px, 52px;
}

#Event.talk {
  background-image: url(../Img/Talklogo.png);
  background-size: 108px, 78px;
}

#Event.connected {
  background-image: url(../Img/events/Group19.png);
  background-size: 108px, 78px;
}

.talk,
.esports,
.stank,
.pitcher,
.connected {
  height: 350px;
  position: relative;
}

.dis {
  margin-top: 120px;
  width: 70%;
  text-align: center;
  background: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #ffffff;
  margin-bottom: 80px;
}

.game {
  cursor: pointer;
  background: #43b2fd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #232323;
  transition: all 0.3s;
  padding: 5px 20px;
  border-width: 0px;
}

.game:hover {
  color: #fff;
}

.SeeallDiv {
  display: flex;
  width: 100%;
}

.Seeall {
  background-color: transparent;
  color: #ffffff;
}

.Seeall {
  background: none;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: #f45725;
  margin-left: 45%;
}

#Seeall {
  background: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.005em;

  color: #f45725;
}

.Seeall span {
  font-size: 22px;
  font-weight: 500;
  background: none;
}

.SeeallDiv {
  background: none;
  display: flex;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 13px;
}

.cardChildDiv {
  width: 98%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

@media only screen and (max-width: 900px) {
  #Event.pitcher,
  #Event.esports,
  #Event.stank,
  #Event.talk {
    margin-left: 0%;
    margin-bottom: 0%;
  }
}

@media (min-width: 650px) and (max-width: 826px) {
  #Event.pitcher {
    margin-left: 5%;
  }

  #Event.esports {
    margin-left: 5%;
  }

  #Event.stank {
    margin-right: 5%;
  }

  #Event.talk {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 650px) {
  .mainContainer {
    background-size: cover, 70%;
    background-position: 0%, center 5%;
  }

  .Seeall {
    margin-left: 35%;
  }

  .box-type {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    padding: 5px;
    
  }
  .reg{
    font-size: 150%;
    
  }
  .cardChildDiv {
    width: 95%;
  }
}

@media only screen and (max-width: 420px){
  .box-type{
    width: 75%;
  }
}


@media (min-width: 650px) {
  #Event {
    transition: transform 250ms;
  }

  #Event:hover {
    transform: translateY(-20px);
  }
}

@media (min-width: 650px) and (max-width: 928px){
  .box-type{
    width: 40%;
  }
  .reg{
    font-size: 170%;
  }
}

@media (min-width: 928px) and (max-width: 1290px){
  .box-type {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .reg{
    font-size: 200%;
  }
}